
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>~~++--SuperArtie's Genesis Zone--++~~</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <h1>(⌐■_■)<span>SuperArtie's Genesis Zone</span>(⌐■_■)</h1>
    <nav>
      <a class="menu" href="/">HOME</a>
      <a class="menu" href="/about">ABOUT</a>
      <a class="menu" id="selected" href="/disc">DISCOGRAPHY</a>
      <a class="menu" href="/tour">TOUR DATES</a>
    </nav><br>
    <img class="disc" src="http://upload.wikimedia.org/wikipedia/en/7/7b/NurseryCryme71.jpg">
    <p class="disctxt">"Nursery Cryme" (1971)<br>1.The Musical Box<br>2.For Absent Friends<br>3.The Return of the Giant
    Hogweed<br>4.Seven Stones<br>5.Harold the Barrel<br>6.Harlequin<br>7.The Fountain of
    Salmacis</p><br>
    <img class="disc" src="http://upload.wikimedia.org/wikipedia/en/archive/3/39/20120722211244!Foxtrot72.jpg">
    <p class="disctxt">"Foxtrot"(1972)<br>1.Watcher of the Skies<br>2.Time Table<br>3.Get 'em Out by Friday<br>
    4.Can-Utility and the Coastliners<br>5.Horizons<br>6.Supper's Ready</p>
    <br>
    <img class="disc" src="http://upload.wikimedia.org/wikipedia/en/5/57/GenesisSellingEngland.jpg">
    <p class="disctxt">"Selling England by the Pound"(1973)<br>1.Dancing with the Moonlit Knight<br>
    2.I Know What I Like (In Your Wardrobe)<br>3.Firth of Fifth<br>4.More Fool of Me<br>5.The Battle for Epping Forest<br>6.After the Ordeal<br>
    7.The Cinema Show<br>8.Aisle of Plenty</p>
    <br>
    <img class="disc" src="http://upload.wikimedia.org/wikipedia/en/b/b8/Lamb74.jpg">
    <p class="disctxt">"The Lamb Lies Down on Broadway"(1974)<br>1.The Lamb Lies Down on Broadway<br>
    2.Fly on a Windshield<br>3.Broadway Melody of 1974<br>4.Cuckoo Cocoon<br>5.In the Cage<br>
    6.The Grand Parade of Lifeless Packaging<br>7.Back in N.Y.C.<br>8.Hairless Heart<br>
    9.Counting Out Time<br>10.The Carper Crawlers<br>11.The Chamber of 32 Doors</p>
    <br>
  </body>
</html>
