<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>~~++--SuperArtie's Genesis Zone--++~~</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <h1>(⌐■_■)<span>SuperArtie's Genesis Zone</span>(⌐■_■)</h1>
    <nav>
      <a class="menu" id="selected" href="/">HOME</a>
      <a class="menu" href="/about">ABOUT</a>
      <a class="menu" href="/disc">DISCOGRAPHY</a>
      <a class="menu" href="/tour">TOUR DATES</a>
    </nav>
    <br>
    <p>You are now entering...</p>
    <p>SuperArtie's Genesis Zone</p>
    <p>( •_•)>⌐■-■</p>
    <p>(⌐■_■)</p>
    <p>YEEEEAAAAHHH!!!!</p>
    <img src="/images/peter1.jpg">
    <img src="http://i.imgur.com/CmQ0ChA.jpg"><img src="http://i.imgur.com/clbMggH.jpg">
  </body>
</html>
