
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>~~++--SuperArtie's Genesis Zone--++~~</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <h1>(⌐■_■)<span>SuperArtie's Genesis Zone</span>(⌐■_■)</h1>
    <nav>
      <a class="menu" href="/">HOME</a>
      <a class="menu" href="/about">ABOUT</a>
      <a class="menu" href="/disc">DISCOGRAPHY</a>
      <a class="menu" id="selected" href="/tour">TOUR DATES</a>
    </nav><br><br>
    <p class = "tour">Though it is true that Genesis are no more, check out these stunning live performances!!!</p>
    <br>
    <iframe width="560" height="315" src="//www.youtube.com/embed/bETFh4eRdM8" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="420" height="315" src="//www.youtube.com/embed/M58wE8GTGp4" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="420" height="315" src="//www.youtube.com/embed/EvkLdMN6GbU" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
